<h4 class="pkt_ext_introrecommend">Recommended by Firefox</h4>
<div class="pkt_ext_introdetail">
	<h2 class="pkt_ext_logo">Pocket</h2>
	<div class="pkt_ext_introimg"></div>
	<p class="pkt_ext_tagline">{{tagline}}</p>
	<p><a class="pkt_ext_learnmore" href="http://getpocket.com" target="_blank">{{learnmore}}</a></p>
</div>
<div class="pkt_ext_signupdetail">
	<h4>{{signuptosave}}</h4>
	<p class="btn-container"><a href="https://firefox.dev.readitlater.com/ff_signup" target=_blank" class="btn signup-btn-firefox"><span class="logo"></span><span class="text">{{signupfirefox}}</span></a> <a class="ff_signuphelp" href="https://www.mozilla.org" target="_blank">{{help}}</a></p>
	<p class="btn-container"><a href="http://firefox.dev.readitlater.com/signup?force=email&src=extension" target="_blank" class="btn btn-secondary signup-btn-email signup-btn-initstate">{{signupemail}}</a></p>
	<p class="alreadyhave">{{alreadyhaveacct}} <a href="http://firefox.dev.readitlater.com/login?ep=3&src=extension" target="_blank">{{loginnow}}</a>.</p>
</div>