<div class="pkt_ext_initload">
    <div class="pkt_ext_logo"></div>
    <div class="pkt_ext_topdetail">
        <h2>{{saving}}</h2>
    </div>
    <div class="pkt_ext_loadingspinner"><div></div></div>
</div>
<div class="pkt_ext_detail">
    <div class="pkt_ext_logo"></div>
    <div class="pkt_ext_topdetail">
        <h2>{{pagesaved}}</h2>
        <h3 class="pkt_ext_errordetail"></h3>
        <nav class="pkt_ext_item_actions pkt_ext_cf">
            <ul>
                <li><a class="pkt_ext_removeitem" href="#">{{removepage}}</a></li>
                <li class="pkt_ext_actions_separator"></li>
                <li><a class="pkt_ext_openpocket" href="https://{{pockethost}}/a?src=ff_ext_saved" target="_blank">{{viewlist}}</a></li>
            </ul>
        </nav>
    </div>
    <div class="pkt_ext_tag_detail pkt_ext_cf">
        <div class="pkt_ext_tag_input_wrapper">
            <div class="pkt_ext_tag_input_blocker"></div>
            <input class="pkt_ext_tag_input" type="text" placeholder="{{addtags}}">
        </div>
        <a href="#" class="pkt_ext_btn pkt_ext_btn_disabled">{{save}}</a>
    </div>
    <p class="pkt_ext_edit_msg"></p>
</div>
