!!! 5
html
  head
    title= title
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.topbar
      h1= title
    section#content
      - if (notice)
        section#notice= notice
      != body
    footer
      = 'Made using '
      a(href='http://nodejs.org/') node.js
      = ', '
      a(href='https://github.com/indutny/node-spdy') node-spdy
      = ', '
      a(href='http://socket.io/') socket.io
      = ' and '
      a(href='http://twitter.github.com/bootstrap/') twitter bootstrap

    script(src='//platform.twitter.com/widgets.js', async=true, defer=true)
    script(src='/javascripts/socket.io.min.js')
    script(src='/javascripts/main.js')

    script var _gaq =_gaq||[];_gaq.push(['_setAccount', 'UA-28159099-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();
